body
{
	background-color: #282828;
	color: #ffcc00;
	font-family: 'Tahoma', 'Helvetica', sans-serif;
	font-size: 11pt;
}

a, a:visited, a:hover
{
	color: #fff;
}

#header
{
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

#navigation
{
	position: fixed;
	width: 256px;
}

#project_list
{
	display: grid;
	width: 60%;
	margin: auto;
	grid-template-columns: 1fr 1fr 1fr;
}

.project
{
	padding: 4px 8px;
}

.project img
{
	max-width: 100%;
}

.project_title
{
	font-weight: bold;
}

.project_tech
{
	font-style: italic;
	color: #ffb000 /* slightly darker */
}

.project_summary
{
}
