body
{
	background-color: #282828;
	color: #ffcc00;
	font-family: 'Geneva', 'Tahoma', 'Verdana', sans-serif; 
	font-size: 11pt;
}

a, a:visited, a:hover
{
	color: #fff;
}

#header
{
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

#website_container
{
	position: relative;
	padding: 2px 16px;
}

#project_list
{
	display: grid;
	width: auto;
}

#navigation
{
	margin-bottom: 16px;
}

.project
{
	padding: 4px 8px;
}

.project img
{
	width: 100%;
}

.project_title
{
	font-weight: bold;
}

.project_tech
{
	font-style: italic;
	color: #ffb000 /* slightly darker */
}

@media screen and (min-width: 1000px)
{
	#project_list
	{
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	#website_container
	{
		margin-left: 296px;
	}
	
	#navigation
	{
		position: fixed;
		width: 256px;
	}
	
	#footer
	{
		position: fixed;
		bottom: 0;
		left: 0;
		padding-left: 8px;
	}
}

@media screen and (min-width: 500px) and (max-width: 999px)
{
	#project_list
	{
		grid-template-columns: 1fr 1fr;
	}
	
	#website_container
	{
		margin-left: 0;
	}
	
	#navigation
	{
		position: relative;
		width: 100%;
		border-bottom: 3px double #333;
	}
	
	#website_container p img
	{
		max-width: 100%;
	}
}
